mybatis:
  configuration:
    map-underscore-to-camel-case: true

spring:
  datasource:
    url: jdbc:mysql://localhost:3306/shoot-bug
    username: root
    password: 123456
  liquibase:
    change-log: classpath:db/changelog/db.changelog-master.yml
    drop-first: false